<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8" />
	<title>解析文件</title>
	

</head>

<body>

	<div>
		<div align="center">
			<h1>邮件发送</h1>
		</div>
		<div>
			<form method="POST" enctype="multipart/form-data" action="/sendMail">
				<div align="center">
					上传文件 <input type="file" name="file" />
				</div>
				
				<div align="center">
					<input type="submit" value="发送" name="发送" />
				</div>
			
			</form>
		</div>

	</div>

</body>

</html>